<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Serviços</h1>
    <span class="separador"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a
        mat-menu-item
        routerLink="/funcionarios"
      ><mat-icon>people</mat-icon>Funcionários</a>
      <a
        mat-menu-item
        routerLink="/cargos"
      ><mat-icon>category</mat-icon>Cargos</a>
    </mat-menu>

    <button mat-icon-button (click)="logOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
