/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a{
    text-decoration: none;
    color: rgb(21, 117, 177);
    font-weight: 500;
}

a:hover{
    font-weight: bolder;
}
